//registry.npmjs.org/:_authToken=${NPM_TOKEN}

@cp:registry=https://artifactory.redbullmediahouse.com/artifactory/api/npm/cp-npm-local/
//artifactory.redbullmediahouse.com/artifactory/api/npm/cp-npm-local/:_password=${RBMH_ARTIFACTORY_PASSWORD}
//artifactory.redbullmediahouse.com/artifactory/api/npm/cp-npm-local/:username=${RBMH_ARTIFACTORY_USERNAME}
//artifactory.redbullmediahouse.com/artifactory/api/npm/cp-npm-local/:email=${RBMH_ARTIFACTORY_EMAIL}
//artifactory.redbullmediahouse.com/artifactory/api/npm/cp-npm-local/:always-auth=true
